%html
  %head
    %title Ui Test
    %link{:href => "/css/ui-darkness/jquery-ui-1.8.2.custom.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src=> "/js/jquery-1.4.2.min.js"}
    %script{:src=> "/js/jquery-ui-1.8.2.custom.min.js"}
    %script{:src=> "/js/test.js"}
  %body
    %img#picon{:src=>"",:width=>80, :height=>80}
    %input#pokemon
    #log