%html
  %head
    %title Ui Test
    %link{:href => "/css/ui-darkness/jquery-ui-1.8.2.custom.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src=> "http://code.jquery.com/jquery-latest.min.js"}
    %script{:src=> "http://gts.daedulus.net/js/jquery-ui-1.8.2.custom.min.js"}
    %script{:src=> "http://gts.daedulus.net/js/test.js"}
  %body
    %img#picon{:src=>"",:width=>80, :height=>80}
    %input#pokemon
    #log